/* Tab Content - menucool.com */

ul.tabs
{
    padding: 0px;
    font-size: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    width: 200px;
    float: left;

}
        
ul.tabs li:first-child {
    margin-top: 0px;
}
ul.tabs li {
    display: flex;
    margin: 0;
    margin-top: 9px;
    overflow: hidden;
    width: 200px;
    text-align: center;
}
        
ul.tabs li a
{
    font-size: 15px;
    text-decoration: none;
    position: relative;
    padding: 13px 16px;
    border: 1px solid #CCC;
    border-bottom-color: #B7B7B7;
    color: #000;
    background-color: #0489FE;
    border-radius: 3px 3px 0 0;
        outline: none;
        width: 100%;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.html) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-right-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7;
    padding: 30px;
    background-color: #FFF;
    border-radius: 0 3px 3px 3px;
    width: 798px;
    float: left;
    margin-left: -1px;
}

.anser-p{
    margin-top: 5px;
    line-height: 26px;
}